* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family: sans-serif;
}

h3 {
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.topnav .search-container {
    float: right;
}

form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input {
    all: unset;
    font: 15px system-ui;
    color: #fff;
    height: 100%; /* Fixed from 100px */
    width: 100%;
    padding: 6px 9px;
}

/* Row fix for floating columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%; /* 4 movies per row */
    padding: 10px 10px;
}

.card {
    background-color: #151f30;
    border-radius: 19px;
    padding: 15px;
    text-align: center;
}

.thumbnail {
    width: 300px;
    height: 350px;
    border-radius: 19px;
}

@media screen and (max-width: 800px) {
    .column { width: 50%; }
}

@media screen and (max-width: 500px) {
    .column { width: 100%; }
}